<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Speech Recognition</title>
    <link rel="stylesheet" href="/static/preloader.css">
</head>
<body>
    <div id="preloader"></div>
    <h1>Automatic Speech Recognition</h1>
    
    <form action="/automatic_speech_recognition" method="post" enctype="multipart/form-data">
        <label for="audio">Select Audio File:</label>
        <input type="file" name="audio" id="audio" accept=".wav, .mp3">
        <br>
        <button type="submit">Submit</button>
    </form>

    <br>

    {% if transcribed_text %}
        <h2>Transcribed Text:</h2>
        <p>{{ transcribed_text }}</p>
    {% endif %}

    {% if error %}
        <h2>Error:</h2>
        <p>{{ error }}</p>
    {% endif %}

    <script src="/static/preloader.js"></script>
</body>
</html>
